<p>CONTRACT DETAIL</p>
<mat-card class="example-card">

  <ng-container *ngIf="contract$ | async as contract">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{contract.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="description">Description: {{contract.description}}</p>
      <p class="description">Start Date: {{contract.startDate}}</p>
      <p class="description">Expiration Date: {{contract.expirationDate}}</p>
      <p class="description">Type: {{contract.type}}</p>
      <p class="description">File: {{contract.file}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button class="updateContract" mat-raised-button color="accent"
              routerLink="/dashboard/contract-update/{{contract._id}}">Update Contract
      </button>
      <button class="deleteContract" mat-raised-button color="warn"
              routerLink="/dashboard/contract-delete/{{contract._id}}">Delete Contract
      </button>
<!--      <button *ngIf="isAdmin$ | async" class="updateContract" mat-raised-button color="primary"-->
<!--              routerLink="/dashboard/contract-update/{{contract._id}}">Update Contract-->
<!--      </button>-->
    </mat-card-actions>
  </ng-container>

  <ng-container *ngIf=" !(contract$ | async) && (isLoading$ | async)">
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!(contract$ | async) && !(isLoading$ | async)">
    <mat-card-title style="margin: auto; text-align: center;">Contract not found</mat-card-title>
  </ng-container>
</mat-card>
