<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<p class="page-title">Contracts</p>

<button id="refresh-button"
  type="button" mat-raised-button
  color="primary"
  [disabled]="isLoading"
  (click)="refresh()">Refresh
</button>

<button id="create-button" mat-raised-button color="primary" routerLink="/dashboard/contract-create"
        *ngIf="currentUser.role == 'Admin' || currentUser.role == 'SuperAdmin'" [disabled]="isLoading">Create Contract
</button>

<div id="search">
  <mat-form-field>
    <input matInput placeholder="Search contract" value="" [(ngModel)]="contractSearch" [disabled]="isLoading">
  </mat-form-field>
</div>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Expiration Date</th>
        <th>Category</th>
        <th>Cost</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>

  <ng-container *ngIf="!isLoading && contracts.length !== 0 && azureService.token !== undefined">
    <tr *ngFor="let contract of sorted | contractPipe: contractSearch">
      <td>{{contract.name.substring(0, 20)}}
        <span *ngIf="contract.name.length > 20"> ... </span>
      </td>
      <td>{{contract.description}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.expirationDate}}</td>
      <td>{{contract.category}}</td>
      <td>{{contract.cost}}</td>
      <td>{{contract.location}}</td>
      <td>
        <button *ngIf="contract.driveRef" class="showContract" mat-raised-button
                routerLink="/dashboard/contract-detail/{{contract.id}}">Show Details
        </button>
        <button *ngIf="contract.driveRef === null" class="showContract noFile" mat-raised-button
                routerLink="/dashboard/contract-detail/{{contract.id}}">Show Details
        </button>
      </td>
    </tr>
  </ng-container>
</table>

<div class="container">
  <ng-container *ngIf="isLoading">
    <div class="container"></div>
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!isLoading && (contracts.length === 0 ||  azureService.token === undefined)">
    <mat-card-title style="margin: auto; text-align: center;">Cannot retrieve contracts, try refreshing
    </mat-card-title>
  </ng-container>
</div>
