<p class="page-title">Update Contract</p>

<mat-card class="example-card">
  <form *ngIf="contract | async as contract" [formGroup]="contractForm" (ngSubmit)="updateContract()">
    <mat-card-title id="update">Contract</mat-card-title>
    <div>
<!--      <input type="hidden" formControlName="_id" [ngModel]="contract._id">-->
      <input type="hidden" formControlName="id" [ngModel]="contract.id">

      <mat-form-field>
        <input type="text" id="name" matInput formControlName="name" [ngModel]="contract.name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="description" matInput formControlName="description" [ngModel]="contract.description">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="date" id="startDate" matInput formControlName="startDate" [ngModel]="contract.startDate">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="date" id="expirationDate" matInput formControlName="expirationDate" [ngModel]="contract.expirationDate">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="type" matInput formControlName="type" [ngModel]="contract.type">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="file" matInput formControlName="file" [ngModel]="contract.file">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="category" matInput formControlName="category" [ngModel]="contract.category">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="cost" matInput formControlName="cost" [ngModel]="contract.cost">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="location" matInput formControlName="location" [ngModel]="contract.location">
      </mat-form-field>
    </div>
    <button id="updateButton" mat-raised-button color="primary">Update</button>
  </form>
  <mat-card-title *ngIf="!(contract | async)">Contract not found</mat-card-title>
</mat-card>
