<mat-card class="example-card ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">{{contractInput.name}}</mat-card-title>
  </mat-card-header>




  <mat-card-content>
    <p class="description">Description: {{contractInput.description}}</p>
    <p class="description">Start Date: {{contractInput.startDate}}</p>
    <p class="description">Expiration Date: {{contractInput.expirationDate}}</p>
  </mat-card-content>

  <mat-card-actions class="buttons" >
    <div class="example-button-row">
      <button class="showContract" mat-raised-button color="primary" routerLink="/dashboard/contract-detail/{{contractInput._id}}">Show Details</button>
    </div>
  </mat-card-actions>
</mat-card>
