<mat-card class="contract">
  <mat-card-title color="primary">Quiz title: Title1</mat-card-title>

  <p><span>Name: </span><span>Name 1</span></p>
  <p><span>Description: </span><span>Description 1</span></p>
  <p><span>Start Date: </span><span>Date 1</span></p>
  <p><span>Expiration Date: </span><span>Date 1</span></p>
  <p><span>Type: </span><span>Type 1</span></p>
  <p><span>File: </span><span>File 1</span></p>
  <button id="updateButton" mat-raised-button color="primary">Update Contract</button>
</mat-card>
