<p class="page-title">Update User Profile</p>

<mat-card class="example-card">
  <form *ngIf="user | async as user" [formGroup]="userForm" (ngSubmit)="updateUser()">
    <mat-card-title id="update">Your Profile</mat-card-title>
    <div>

      <mat-form-field>
        <input type="text" id="firstName" matInput formControlName="firstName" [ngModel]="user.firstName" placeholder='firstName'>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="lastName" matInput formControlName="lastName" [ngModel]="user.lastName" placeholder='lastName'>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="email" matInput formControlName="email" [ngModel]="user.email" placeholder='email'>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="role" matInput formControlName="role" [ngModel]="user.role" placeholder='role'>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" id="notificationEmail" matInput formControlName="notificationEmail" [ngModel]="user.notificationEmail" placeholder='notificationEmail'>
      </mat-form-field>
      <br>
      <input type="hidden" formControlName="id" [ngModel]="user.id">
      <input type="hidden" formControlName="password" [ngModel]="user.password">
      <input type="hidden" formControlName="emailVerified" [ngModel]="user.emailVerified">
      <input type="hidden" formControlName="active" [ngModel]="user.active">
      <input type="hidden" formControlName="confirmedRole" [ngModel]="user.confirmedRole">

    </div>
    <button id="updateButton" mat-raised-button color="primary">Update</button>
  </form>
  <mat-card-title *ngIf="!(user | async)">User not found</mat-card-title>
</mat-card>


<!--<p>Update User Profile</p>-->
<!--<p> - Name</p>-->
<!--<p> - Email</p>-->
<!--<p> - Notification - email</p>-->
