<p class="page-title">Statistics</p>

<div class="container">
  <ng-container *ngIf=" !contracts && isLoading">
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!contracts && !isLoading">
    <mat-card-title style="margin: auto; text-align: center;">Cannot retrieve contracts</mat-card-title>
  </ng-container>
</div>

<ng-container *ngIf="contracts">

  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Date">
      <div class="example-large-box mat-elevation-z4">
        <div class="list">
          <p class="row">
            <span class="text">Current Contracts: </span>
            <span class="title">{{statisticsDateCurrent}}</span>
          </p>
          <p class="row">
            <span class="text">Expired Contracts: </span>
            <span class="title">{{statisticsDateExpired}}</span>
          </p>
          <p class="row">
            <span class="text">Contracts not yet started: </span>
            <span class="title">{{statisticsDateNotStarted}}</span>
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Cost">
      <div class="example-large-box mat-elevation-z4">
        <div class="list">
          <table class="table1">
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Cost</th>
              <th>Actions</th>
            </tr>
            <tr>
              <td>Cheapest</td>
              <td>{{contracts[0].name.substring(0, 20)}}
                <span *ngIf="contracts[0].name.length > 20"> ... </span>
              </td>
              <td>{{contracts[0].cost}}</td>
              <td>
                <button class="showContract" mat-raised-button color="primary"
                        routerLink="/dashboard/contract-detail/{{contracts[0].id}}">Show Details
                </button>
              </td>
            </tr>
            <tr>
              <td>Most Expensive</td>
              <td>{{contracts[contracts.length - 1].name.substring(0, 20)}}
                <span *ngIf="contracts[contracts.length - 1].name.length > 20"> ... </span>
              </td>
              <td>{{contracts[contracts.length - 1].cost}}</td>
              <td>
                <button class="showContract" mat-raised-button color="primary"
                        routerLink="/dashboard/contract-detail/{{contracts[contracts.length-1].id}}">Show Details
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
