<p class="page-title">Statistics</p>


<div class="container">

  <ng-container *ngIf=" !(contracts$ | async) && (isLoading$ | async)">
    <mat-spinner style="margin: auto; align-self: center;"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!(contracts$ | async) && !(isLoading$ | async)">
    <mat-card-title style="margin: auto; text-align: center;">Cannot retrieve contracts</mat-card-title>
  </ng-container>
</div>


<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab label="Date">
    <div class="example-large-box mat-elevation-z4">
      <div class="list">
        <h3>Contract Statistics - Date</h3>
        <p>
          <span>Current: </span>
          <span>{{statisticsDateCurrent / 2 }}</span>
        </p>
        <p>
          <span>Expired: </span>
          <span>{{statisticsDateExpired / 2}}</span>
        </p>
        <p>
          <span>Not yet started: </span>
          <span>{{statisticsDateNotStarted / 2}}</span>
        </p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cost">
    <div class="example-large-box mat-elevation-z4">
      <div class="list">
        <h3>Contract Statistics - Cost</h3>
        <p>
          <span>Most Expensive: </span>
          <span>1</span>
        </p>
        <p>
          <span>Cheapest: </span>
          <span>1</span>
        </p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Location">
    <div class="example-large-box mat-elevation-z4">
      <div class="list">
        <h3>Contract Statistics - Location</h3>
        <p>
          <span>Denmark: </span>
          <span>1</span>
        </p>
        <p>
          <span>Germany: </span>
          <span>1</span>
        </p>
        <p>
          <span>United Kingdom: </span>
          <span>1</span>
        </p>
        <p>
          <span>US: </span>
          <span>1</span>
        </p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>




