<mat-grid-list cols="4" rowHeight="670px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Make a new account!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div>

            <mat-form-field>
              <input id="firstName" matInput type="text" formControlName="firstName" placeholder="First Name">
            </mat-form-field>

            <div *ngIf="registerForm.controls.firstName.errors?.required && registerForm.controls.firstName.touched">
              You must fill out the first name!
            </div>

            <div *ngIf="registerForm.controls.firstName.errors?.minlength && registerForm.controls.firstName.touched">
              The first name must be at least 2 characters length!
            </div>

            <div *ngIf="registerForm.controls.firstName.errors?.maxlength && registerForm.controls.firstName.touched">
              The first name must contain maximum 12 characters!
            </div>

          </div>

          <div>

            <mat-form-field>
              <input id="lastName" matInput type="text" formControlName="lastName" placeholder="Last Name">
            </mat-form-field>

            <div *ngIf="registerForm.controls.lastName.errors?.required && registerForm.controls.lastName.touched">
              You must fill out the last name!
            </div>

            <div *ngIf="registerForm.controls.lastName.errors?.minlength && registerForm.controls.lastName.touched">
              The last name must be at least 2 characters length!
            </div>

            <div *ngIf="registerForm.controls.lastName.errors?.maxlength && registerForm.controls.lastName.touched">
              The last name must contain maximum 12 characters!
            </div>

          </div>

          <div>

            <mat-form-field>
              <input id="email" matInput type="email" formControlName="email" placeholder="Email">
            </mat-form-field>

            <div *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
              You must fill out the email!
            </div>

            <div *ngIf="registerForm.controls.email.errors?.email && registerForm.controls.email.touched">
              You must write a correct email!
            </div>

            <div id="emailErrMsg"></div>

          </div>

          <div>

            <mat-form-field>
              <input id="password" matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>

            <div *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
              You must fill out the password!
            </div>

            <div *ngIf="registerForm.controls.password.errors?.minlength && registerForm.controls.password.touched">
              Password must be at least 8 characters length!
            </div>

            <div *ngIf="registerForm.controls.password.errors?.maxlength && registerForm.controls.password.touched">
              The password must contain maximum 12 characters!
            </div>

            <div *ngIf="registerForm.controls.password.errors?.pattern && registerForm.controls.password.touched">
              The password must contain at least one uppercase letter, one lowercase letter, one number and a special character!
            </div>

          </div>

          <div>

            <mat-form-field>
              <input id="confirmPassword" matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            </mat-form-field>

            <div *ngIf="registerForm.controls.confirmPassword.errors?.required && registerForm.controls.confirmPassword.touched">
              You must fill out the password!
            </div>

            <div *ngIf="registerForm.controls.confirmPassword.errors?.mustMatch && registerForm.controls.confirmPassword.touched">
              Passwords must match!
            </div>

          </div>

          <button id="registerButton" type="submit" mat-raised-button color="primary">Register</button>

          <br><br>

          <mat-card-actions>

            <mat-divider></mat-divider>
            <br><br>

            <mat-card-subtitle>You already have an account?</mat-card-subtitle>
            <button type="button" mat-raised-button color="accent" routerLink="../login">Login</button>

          </mat-card-actions>

        </form>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
</mat-grid-list>
